*{
    margin: 0;
    padding: 0;
  
}
body{
    background: url("design.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: flex;
}
.logo h2{
height: 50px;
width: 50px;
margin-left: 100px;
margin-top: 15px;
border-radius: 50px;
color: skyblue;
font-family:'Courier New', Courier, monospace ;
}
ul{
    display: flex;
    
    margin-left: 478px;
    margin-top: 20px;

}
ul li{
   list-style: none;
   padding: 15px 30px 0 10px;
   font-weight: bold;
}
li:hover{
    text-decoration: underline;
    color:rgb(33, 34, 34);
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    font-size: larger;
}
.content{
    text-align: center;
    margin-top: 120px;
}
.content h1{
    font-weight: bolder;
    font-size: 70px;
    color: white;
    padding-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.content p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(8, 8, 8);
    padding-bottom: 20px;
}

.btn{
    padding: 8px 20px 8px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: white;
    background-color: black;
    font-weight: bold;
    margin-right: 5px;
}
.btn:hover{
color: black;
background-color: aqua;
}